.selectedPage {
    font-weight: bold;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.allPages {
    padding: 8px;
}

.button {
    margin-right: 12px;
    margin-left: 12px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 7px;
    border: none;
}