.dialogs textarea {
    min-height: 80px;
    max-height: 80px;
    resize: none;
    min-width: 625px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.dialogs button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 7px;
    border: none;
}