.dialogs {
    display: grid;
    grid-template-rows: 1fr 150px;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "d m"
    "d s";
}

.dialogsItems {
    grid-area: d;
    border-right: 2px solid #e4e4e4;
}

.dialogs button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
}

.messages {
    grid-area: m;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    right: -16px;
}

.sendMessage {
    grid-area: s;
    display: flex;
    justify-content: center;
}